.navbar {
    background-color:black !important;
    color: white !important;
}

.nav-link {
	color: white !important;
}

section {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Open Sans;
    font-weight: 600;
    color: black;
    font-size: 48px;
}

.btn {
    color: black !important;
}

#modalLabel {
	color: black;
}

.modal-body {
    color: black;
}

/* #fav-col {
    width: 25%;
    height: 100%;
    background-image: url(bison.jpg);
} */
#fav-col {
    background: url(bison.jpg) no-repeat center center;
    background-size: cover;
  }
