{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/maps.css"/>
  <script src="/static/js/maps.js"></script>

  <script defer src="/static/js/showfarms.js"></script>
  <script src="/static/lib/babel-standalone.js"></script>
  <script src="/static/lib/react.development.js"></script>
  <script src="/static/lib/react-dom.development.js"></script>
{% endblock %}

{% block title %}Put Address{% endblock %}

{% block body %}

    <header>
        <nav>
          <section id="links-right">
            <a href="/">home</a>
          </section>
        </nav>
      </header>

      <main>
        <section class="map">
          <div id="map"></div>
        </section>
      </main>
    
      <!-- <h2>Farms</h2> -->
    
      <!-- <p>See farms here
      <div id="farm-text"></div>
      </p>
  <form id="location-form_1" method="GET">
    <p>
      <input type="submit">
    </p>
  </form> -->
  
    <h2>Put in Current Location</h2>
    <!-- I should be submitting to api/farms -->
    <form id="additonal-location-form" method="POST">
      <p>
        Current Zip Code <input type="text" name="zip_code" id="zip_code_field">
      </p>
  
      <p>
        Find farms with <input type="text" name="miles" id="miles_field"> miles
      </p>
  
      <p> or </p>
  
      <p>
        Current State <input type="text" name="state" id="state_field">
      </p>

      <p>
          <div>
            Choose desired months
            <select type="text" name="months" id="months_field" multiple="multiple">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>

          </select>
      </div>
      </p>
  
      <p>
        <input type="submit">
      </p>
    </form>

    <div id="root"></div>
    <!-- <div class="result"> </div> -->

   
    
    <script src="/static/js/bookmark.jsx" type="text/jsx"></script>


{% endblock %}