{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/maps.css" />
<script src="/static/js/maps.js"></script>
<script defer src='https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&callback=initMap'>
</script>
<script defer src="/static/js/showfarms.js"></script>
<script src="/static/lib/babel-standalone.js"></script>
<script src="/static/lib/react.development.js"></script>
<script src="/static/lib/react-dom.development.js"></script>
{% endblock %}

{% block title %}Find farms by state{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="about">About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">home<span class="sr-only">(current)</span></a>
      </li>
    </ul>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>

      <ul class="navbar-nav ml-auto">

        {% if session['customer'] %}
        <li class="nav-item active"></li>

        <form class="form-login" method="GET" action='/logout'>
          <li class="nav-item active"></li>
          <a class="nav-link" id='signOut' href="/logout" data-target="#exampleModal">Log Out<span
              class="sr-only">(current)</span></a>
          </button>
        </form>
        {% else %}
        <li class="nav-item active"></li>
        <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Login<span
            class="sr-only">(current)</span></a>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Login or create account</h5>
                <button type="button" class="close btn-primary" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <form class="form-login" method="GET" action='/login'>
                  <button id='signIn' class="btn btn-outline-secondary modal-button" type="submit" name='login'
                    value='login'>Log in
                  </button>
                </form>
              </div>
              <div class="modal-footer">
                <form class="form-create-account" method="POST" action='/create_account'>
                  <button class="btn btn-outline-secondary modal-button" type="submit" name='create-account'
                    value='create-account'>Create Account
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if session['customer'] %}
        <li class="nav-item active">
          <a class="nav-link" href="/favorite">{{ session['customer'] }}<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
      </ul>
    </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-12 mt-2">
    <main>
        <div id="map"></div>
    </main>
    </div>
  </div>
  
  <h2 class="mt-5 mb-3">Find a farm using state</h2>
  <form id="additonal-location-form" method="POST">
  <div class="form-group">
    <div class="container-fluid">
      {% for state in states %}
      <button id="state_field" type="button" class="btn btn-light btn-sm" onclick='captureValue(this)'>{{ state }}</button>
      {% endfor %}
    </div>
  </div>
  
  
    <div class="form-group">
      <h2 class="mt-5 mb-3">Select month(s) you want to visit</h2>
      <select multiple class="form-control" type="text" name="months" id="months_field">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
    </div>
  
    <input type="submit" class="btn btn-light">
  </form>
  
  
  </div>



{% endblock %}